body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  /*    color: map.get($theme-colors,"primary"); */
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

.font-alt {
  font-family: 'Shrikhand';
  font-size: 1.8rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin-left: -2rem;
  line-height: 1.7;
}

li a {
  text-decoration: none;
}

.white-text {
  color: white;
}

.primary-colour {
  color: #9356DC;
}

.bold {
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 1rem 1.8rem;
  margin: 0.8rem 0.5rem 2rem 0.5rem;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  text-align: center;
  background-image: linear-gradient(0deg, #9356DC 30%, #FF79DA 100%);
  box-shadow: 5px 5px 5px lightgray;
  transition: .4s;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(0deg, #9356DC 0%, #ff9de4 100%);
  box-shadow: 5px 5px 15px gray;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding: 1.2rem 0 .8rem;
}

/* DEBUG MODE */
/*$timing: 0.1s;*/
@keyframes crepe {
  0% {
    transform: scale(0.5) rotate(0) translate(-10px, -30px);
    transform-origin: 20px 80px;
  }
  15% {
    transform: scale(0.5) rotate(-5deg) translate(-30px, 0px);
  }
  40% {
    transform: scale(0.5) rotate(22deg) translate(-80px, -40px);
    transform-origin: 80px 10px;
  }
  60% {
    transform: scale(0.5) rotate(18deg) translate(-80px, -10px);
    transform-origin: 80px 20px;
  }
  90% {
    transform: scale(0.9) rotate(360deg) translate(-20px, -180px);
  }
  100% {
    transform: scale(1) rotate(360deg) translate(-8px, -160px);
  }
}

@keyframes casserole {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  15% {
    transform: rotate(-6deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(22deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spin-wrapper {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 4000px;
  z-index: 100;
  background-color: white;
  animation: preloader 0.5s ease-in-out 2.2s;
  animation-fill-mode: both;
}

@keyframes preloader {
  from {
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.spin-loader {
  width: 180px;
  height: 180px;
  margin: 200px auto;
}

.spin-loader .crepe {
  position: relative;
  top: 0px;
  left: 0px;
  animation: crepe 2.2s ease-in-out both;
}

.spin-loader .casserole-full {
  display: flex;
  width: 100%;
  animation: casserole 2.2s;
}

.spin-loader .casserole {
  width: 60%;
  height: 20px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 0 0 20px 20px;
}

.spin-loader .manche {
  width: 40%;
  height: 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  border-radius: 10px;
}

.page__logo {
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 3%;
}

.page__logo_leftarrow, .page__logo_dummy {
  flex: 1;
  padding-left: 3%;
}

.page__logo_leftarrowicon {
  font-size: 24px;
}

.homeintro {
  margin: 0;
}

.homeintro__location {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #EAEAEA;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.homeintro__location_name {
  padding: 0 0 0 1rem;
}

.homeintro__location_icon {
  padding-top: 1.2rem;
}

.homeintro__titlewrapper {
  margin: 0;
  background-color: #F6F6F6;
  padding: 1rem;
  text-align: center;
}

.homeintro__desc {
  font-size: 1.2rem;
}

.homechoice {
  padding: 1.5rem;
  margin: 0 0 20px 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .homechoice {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}

@media (min-width: 1200px) {
  .homechoice {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.homechoice__item {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 15px;
  max-width: 720px;
  margin: 1.2rem 0.3rem;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 0px 0px 10px lightgray;
}

@media (min-width: 1200px) {
  .homechoice__item {
    flex: 1;
    margin: 0 1rem;
  }
}

.homechoice__icon {
  padding: 1.2rem;
}

.homechoice__smallcircle {
  background-color: #9356DC;
  height: 22px;
  width: 22px;
  margin: 18px 0px 10px -20px;
  border-radius: 50%;
}

.homechoice__number {
  color: white;
  font-weight: 500;
  margin-top: 1px;
  margin-left: 6px;
}

.homerest {
  background-color: #F6F6F6;
  padding: 2.5rem 1.5rem;
  margin: 0;
}

.homerest__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .homerest__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.homerest__item {
  position: relative;
  width: 100%;
  height: 230px;
  margin: 0;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px lightgray;
  background-color: white;
}

@media (min-width: 768px) {
  .homerest__item {
    /* @include flex-center; */
    margin: 0 3rem 0 0;
  }
}

.homerest__label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.6rem 0.8rem;
  background-color: #99E2D0;
}

.homerest__photo {
  width: 100%;
  height: 155px;
  margin: 0;
}

.homerest__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.homerest__item_caption {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.homerest__item_caption_title_h2 {
  margin: 10px 10px 5px 0;
}

.homerest__item_caption_title_desc {
  margin: 5px 10px 5px 0;
}

.homerest__heartdiv {
  padding: 0;
}

.homerest__heartdiv .hearticon-fill {
  margin: 15px 10px 15px 0;
  font-size: 28px;
  background-image: linear-gradient(180deg, #9356DC 30%, #FF79DA 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 1;
  width: 30px;
  visibility: hidden;
}

.homerest__heartdiv .hearticon-empty {
  margin: 15px -28px 15px 0;
  font-size: 24px;
}

.homerest__heartdiv:hover .hearticon-empty {
  visibility: hidden;
}

.homerest__heartdiv:hover .hearticon-fill {
  visibility: visible;
  animation: heart-grow 1s ease-in-out;
  animation-fill-mode: both;
}

@keyframes heart-grow {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pagemain {
  background-color: #F6F6F6;
  padding: 0;
  overflow: hidden;
}

.pagemain__headerwrapper {
  /* position: relative;*/
  margin-bottom: 30px;
}

.pagemain__headerbg_img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.pagemain__headertitle {
  position: absolute;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  margin: -30px 0 20px 0;
  /*  padding: 0;*/
  display: flex;
  justify-content: space-between;
}

.pagemain__headertitle_title {
  margin: 2rem 1rem 0 1.5rem;
}

.pagemain__heartdiv {
  padding: 15px;
}

.pagemain__heartdiv .hearticon-fill {
  margin: 15px 10px 15px 0;
  font-size: 28px;
  background-image: linear-gradient(180deg, #9356DC 30%, #FF79DA 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 1;
  width: 30px;
  visibility: hidden;
}

.pagemain__heartdiv .hearticon-empty {
  margin: 15px -28px 15px 0;
  font-size: 24px;
}

.pagemain__heartdiv:hover .hearticon-empty {
  visibility: hidden;
}

.pagemain__heartdiv:hover .hearticon-fill {
  visibility: visible;
  animation: heart-grow 1s ease-in-out;
  animation-fill-mode: both;
}

@keyframes heart-grow {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pagemain__mainwrapper {
  padding: 3rem 1rem 0rem 1rem;
  display: grid;
  overflow: hidden;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .pagemain__mainwrapper {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}

@media (min-width: 1200px) {
  .pagemain__mainwrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.3rem;
  }
}

.pagemain__subwrapper {
  overflow: hidden;
  padding: 0.4rem 1rem 0.2rem 0.2rem;
}

.pagemain__item {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 2px 10px 2px 10px;
  overflow: hidden;
  max-width: 100%;
}

.pagemain__chaptertitle_box {
  margin: 10px 0 10px 9px;
}

.pagemain__chaptertitle_h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px 0 40px 0;
  width: 50px;
  padding-bottom: 0.3rem;
  border-bottom: 4px solid #99E2D0;
}

.pagemain__button {
  display: flex;
  justify-content: center;
  padding: 0rem 1rem 2rem 1rem;
}

.menuitem {
  margin: 18px 0;
  padding: 0 0 0 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px lightgray;
  /*line-height: 0.3rem; NO! issue on ellipsis*/
  display: flex;
  overflow: hidden;
  max-width: 100%;
  /* justify-content: space-between; not necessary as flex(item):1 */
  animation: slidein-and-fadein 0.8s ease-in-out both;
}

.menuitem:nth-child(1) {
  animation-delay: 0.2s;
}

.menuitem:nth-child(2) {
  animation-delay: 0.4s;
}

.menuitem:nth-child(3) {
  animation-delay: 0.6s;
}

.menuitem:nth-child(4) {
  animation-delay: 0.8s;
}

.menuitem:nth-child(5) {
  animation-delay: 1s;
}

.menuitem:nth-child(6) {
  animation-delay: 1.2s;
}

.menuitem:nth-child(7) {
  animation-delay: 1.4s;
}

.menuitem:nth-child(8) {
  animation-delay: 1.6s;
}

.menuitem:nth-child(9) {
  animation-delay: 1.8s;
}

.menuitem:nth-child(10) {
  animation-delay: 2s;
}

.menuitem:nth-child(11) {
  animation-delay: 2.2s;
}

.menuitem:nth-child(12) {
  animation-delay: 2.4s;
}

.menuitem:nth-child(13) {
  animation-delay: 2.6s;
}

.menuitem:nth-child(14) {
  animation-delay: 2.8s;
}

.menuitem:nth-child(15) {
  animation-delay: 3s;
}

.menuitem:nth-child(16) {
  animation-delay: 3.2s;
}

.menuitem:nth-child(17) {
  animation-delay: 3.4s;
}

.menuitem:nth-child(18) {
  animation-delay: 3.6s;
}

.menuitem:nth-child(19) {
  animation-delay: 3.8s;
}

.menuitem:nth-child(20) {
  animation-delay: 4s;
}

@keyframes slidein-and-fadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

.menuitem__left {
  flex: 1;
  overflow: hidden;
}

.menuitem__right {
  display: flex;
  align-items: flex-end;
}

.menuitem__h2 {
  margin-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.menuitem__p {
  margin-top: -10px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuitem__price {
  margin: 10px 20px 11px 10px;
}

.menuitem__checked {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  width: 0;
}

.menuitem__smallcircle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #99E2D0;
  background-color: white;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(0);
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.menuitem:hover {
  box-shadow: 10px 10px 10px lightgray;
  overflow: hidden;
  max-width: 100%;
}

.menuitem:hover .menuitem__checked {
  animation: checked 0.5s ease-in-out both;
}

@keyframes checked {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}

.menuitem:hover .menuitem__smallcircle {
  transform: rotate(360deg);
}

.menuitem:hover .menuitem__h2, .menuitem:hover .menuitem__p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.site-footer {
  background-color: #353535;
  padding: 1.5rem;
}

.footer__logo {
  filter: grayscale(3) invert(1) contrast(200%);
}

.footer__logoimg {
  width: 100px;
}

.footer__navlink-bold {
  font-weight: 200;
  display: flex;
  align-items: center;
}

.footer__navlink-bold_p {
  margin: 0 0 0 12px;
}

.footer__navlink_smallicon {
  text-align: center;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */