body {
    font-family: 'Roboto', sans-serif;
/*    color: map.get($theme-colors,"primary"); */
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

.font-alt {
    font-family: 'Shrikhand';
}

h2 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none ;
    margin-left: -2rem;
    line-height: 1.7
}

li a {
    text-decoration: none;
}

.white-text {
    color: white;
}

.primary-colour {
    color: $colour-primary;
}

.checked-colour {
    color: $colour-checked;
}

.bold {
    font-weight: 600;
}