@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin menu-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}